
:host {
    display: block;
    box-sizing: border-box;
    inline-size: 100%;
    height: 100%;
    width: 100%;

    .placeholder {
        height: 100%;
        width: 100%;
        min-height: 0;
        min-width: 0;

    }

}


