:host {
    display: grid;
    grid-template-rows: 1fr; /* or a fixed value */
    height: 100%;

    .placeholder {
        display: block;
        /*padding: 1em .2em .2em .2em;*/
        overflow-y: auto;
        height: calc(100vh - 5em);

        /* Hide scrollbar for Webkit browsers */

        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for Firefox */
        scrollbar-width: none;
        /* Hide scrollbar for IE and Edge */
        -ms-overflow-style: none;

        .warning-option {
            margin-bottom: .5em;
            padding: .2em;
            background-color: blue;
            font-size: .8em;
            color: inherit;
            cursor: pointer;
            border-radius: 0.5rem;
            border-color: transparent;
        }
    }
}





