/* variables */
:host{
    --green: green;
    --red: red;
    --blue: blue;
}

.button {
    color: inherit;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-color: transparent;
    &:disabled {
        cursor: default;
        opacity: 0.6;
    }
}

.red {
    background-color: var(--red);
    color: black;
}

.blue {
    background-color: var(--blue);
}

.green{
    background-color: var(--green);
}
.orange{
    background-color: orange;
    color: black;
}

.yellow{
    background-color: yellow;
    color: black;
}

.text-red {
    color: var(--red);
}
.text-blue {
    color: var(--blue);
}
